@font-face {
    font-family: 'poppins';
    src: url(./assets/fonts/Poppins-default-font/Poppins-Medium.ttf);
}
body, html{
    padding: 0px;
    margin: 0px;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    background-color: rgb(97, 0, 53);
    color: pink;
    user-select: none;
}
main{
    height: 100vh;
    width: 100%;
}
a{
    color: pink;
    text-decoration: none;
}
.nav_div{
    z-index: 50;
    background: linear-gradient(rgb(57, 0, 95), rgb(97, 0, 53));
    position: relative;
    top: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-color: pink;
    border-width: 0px 0px 1px 0px;
}
.nav_links{
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}
.nav_links::before{
    content: '';
    position: absolute;
    bottom: 0px;
    height: 10%;
    width: 0%;
    background-color: pink;
    transition: 1s;
}
.nav_links:hover::before{
    width: 100%;
}
#credits{
    margin-right: 30px;
}
#bars{
    display: none;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-50%);
    cursor: pointer;
    transition: 0.4s;
}
#bars:hover{
    text-shadow: 0px 0px 20px pink;
}
.logo{
    margin-left: 20px;
    height: 50px;
}
.logo:hover{
    transform: rotateX(360deg);
    cursor: pointer;
}
.menu-parent{
    display: none;
    font-family: 'Helvetica', sans-serif;
    font-size: 10px;
    z-index: 100;
    position: absolute;
    top: 71px;
    height: 100%;
    width: 200px;
    right: 0px;
    padding: 0px;
    background: linear-gradient(#260058, rgb(26, 0, 37), rgb(63, 0, 58), rgb(48, 0, 36));
}
.menu{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.menu:hover{
    background-color: #ffcbe3;
    color: rgb(44, 0, 0);
    text-shadow: 0px 0px 20px rgb(255, 47, 186);
}
.download {
    margin-right: 15px;
    background-color: transparent;
    color: white;
    border: solid;
    border-width: 1px;
    border-color: pink;
    height: 40px;
    width: 120px;
    transition: 1s;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    font-size: 15px;
    overflow: hidden;
    z-index: 5;
}
.download::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 0%;
    width: 100%;
    z-index: -1;
    transition: 1s;
}
.download:hover{
    z-index: 10;
    color: rgb(24, 0, 20);
    border-color: purple;
}
.download:hover::before{
    background: linear-gradient(rgb(255, 121, 255), rgb(255, 111, 183));
    height: 100%;
}
.main_one{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(./assets/public/images/purple-background/5556661.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    filter: hue-rotate(40deg) saturate(0.7);
}
.hey_there{
    z-index: 20;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-40%, -100%);
    font-family: 'poppins', sans-serif;
    font-size: 45px;
    text-align: left;
}
.download_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.browser{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    border: solid;
    border-color: pink;
    border-radius: 10px;
    border-width: 2px 2px 3px 2px;
    background: #470094;
    color: white;
}
.browser:hover{
    background: linear-gradient(135deg, #3d0b6c, #6a0dad, #400085);
}
.jar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    width: 200px;
    cursor: pointer;border: solid;
    border-color: pink;
    border-radius: 10px;
    border-width: 2px 2px 3px 2px;
    background: #230049;
    color: white;
}
.jar:hover{
    background: linear-gradient(#390041,rgb(48, 0, 48));
}
@media screen and (max-width: 750px) {
    #bars{
        display: block;
    }
    .download{
        display: none;
    }
    .nav_links {
        display: none;
    }
    .download_div{
        flex-direction: column;
    }
    .hey_there{
        font-size: 30px;
    }
}
